<!--The content below is only a placeholder and can be replaced.-->
<ul>
        <li>
          <a [routerLink]="['/signup']">SIGNUP</a>
        </li>
        <li>
          <a [routerLink]="['/user']">USER</a>
        </li>
      </ul>


<app-menu></app-menu>
<router-outlet></router-outlet>

<body>

<ng-template [appDisplayMovies]="DisplayMoviesGreat">
<ul>
    <li appHightLight>Heat</li>
    <li>Truands</li>
    <li [ngClass]="{'vital': isThisMovie}" [ngStyle]="{backgroundColor: isThisMovie ? 'grey' : 'yellow'}">American gangster</li>
    <li >American history X</li>
</ul>
</ng-template>

</body>
